body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

#score-container {
    position: static;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 10px;
    left: 10px;
    color: #776e65;
    font-size: 20px;
    gap: 10px;
    padding: 10px;
}

#game-container {
    width: 370px;
    height: 500px;
    background-color: #bbada0;
    border-radius: 6px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    position: relative;
    overflow: hidden;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: repeat(4, 80px);
    gap: 10px;
    padding: 10px;
    background-color: #eee4da;
    height: 350px; /* Пересчитана высота */
}

.tile {
    width: 80px;
    height: 80px;
    background-color: #cdc1b4;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    color: #776e65;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tile-2 { background-color: #eee4da; }
.tile-4 { background-color: #ede0c8; }
.tile-8 { background-color: #f2b179; }
.tile-16 { background-color: #f59563; }
.tile-32 { background-color: #f67c5f; }
.tile-64 { background-color: #f65e3b; }
.tile-128 { background-color: #edcf72; }
.tile-256 { background-color: #edcc61; }
.tile-512 { background-color: #edc850; }
.tile-1024 { background-color: #edc53f; }
.tile-2048 { background-color: #edc22e; }


#new-game-btn {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    font-size: 16px;
    color: #776e65;
    background-color: #f0f0f0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.1s ease;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

#new-game-btn:active {
    background-color: #e0e0e0;
    transform: translateX(-50%) scale(0.95); /* добавь лёгкое нажатие */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
